*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: repeating-linear-gradient(to right, white, whitesmoke 100px);
}

b::selection{
    color: inherit;
    background: inherit;
}

#container{
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-evenly;
    align-content: center;
    height: 100vh;
    width: 100vw;
}

.divs{
    border: 2px solid #777;
    flex-basis: 220px;
    height: 220px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 50%;
    background-color: #ccc;
    box-shadow: 0 0 5px #aaa,  0 0 10px #999, 0 0 15px #777, 0 0 20px inset #555, 0 0 20px #ccc;
    cursor: pointer;
}

.divs > b{
    width: 100%;
    text-align: center;
    line-height: 220px;
    display: block;
    color: #999;
    -webkit-text-stroke: .4px #111;
    font-size: 24px;
    transition: all 2s;
}

.divs:hover{
    animation: BorderColor 5s linear infinite;
}

@keyframes BorderColor{
    0%{
        border: 2px solid orange;
        box-shadow: 0 0 20px inset orange, 0 0 20px inset orange;
        background: rgb(224, 177, 89);
    }20%{
        border: 2px solid orangered;
        box-shadow: 0 0 20px inset orangered, 0 0 20px inset orangered;
        background: rgb(221, 113, 74);
    }40%{
        border: 2px solid teal;
        box-shadow: 0 0 20px inset teal, 0 0 20px inset teal;
        background: rgb(74, 187, 187);
    }60%{
        border: 2px solid yellowgreen;
        box-shadow: 0 0 20px inset , 0 0 20px inset yellowgreen;
        background: rgb(187, 223, 116);
    }80%{
        border: 2px solid violet;
        box-shadow: 0 0 20px inset violet, 0 0 20px inset violet;
        background: rgb(224, 157, 224);
    }100%{
        border: 2px solid orange;
        box-shadow: 0 0 20px inset orange, 0 0 20px inset orange;
        background: rgb(224, 177, 89);
    }
}

.divs:hover > b{
    transform: rotate(360deg);
    animation: Colores 5s linear infinite;
}

@keyframes Colores{
    0%{
        color: white;
        -webkit-text-stroke: .5px white;
    }100%{
        color: whitesmoke;
        -webkit-text-stroke: .5px whitesmoke;
    }
}

.divs:first-child{
    flex-basis: 160px;
    height: 160px;
}

.divs:first-child > b{
    width: 100%;
    text-align: center;
    line-height: 160px;
    display: block;
    font-size: 14px;
    color: #444;
}

.divs:nth-child(2){
    flex-basis: 190px;
    height: 190px;
}

.divs:nth-child(2) > b{
    width: 100%;
    text-align: center;
    line-height: 190px;
    display: block;
    font-size: 18px;
    color: #777;
}

.divs:nth-child(4){
    flex-basis: 190px;
    height: 190px;
}

.divs:nth-child(4) > b{
    width: 100%;
    text-align: center;
    line-height: 190px;
    display: block;
    font-size: 18px;
    color: #777;
}

.divs:last-child{
    flex-basis: 160px;
    height: 160px;
}

.divs:last-child > b{
    width: 100%;
    text-align: center;
    line-height: 160px;
    display: block;
    font-size: 14px;
    color: #444;
}
